body {
    font-size: 15px;
    background-color: #3f3f3f;
    color: #fff;
    text-align: center;
    margin:  0 auto;
}

.resizeimage{
    max-width: 800px;
    min-width: none;
}
.resizeimage img {width: 100%;}
